body{
    margin: 0;
    padding: 0;
    min-height: 1000px;
    overflow-y: hidden;
    background-image: linear-gradient(
  45deg,
  hsl(240deg 100% 20%) 0%,
  hsl(289deg 100% 21%) 11%,
  hsl(315deg 100% 27%) 22%,
  hsl(329deg 100% 36%) 33%,
  hsl(337deg 100% 43%) 44%,
  hsl(357deg 91% 59%) 56%,
  hsl(17deg 100% 59%) 67%,
  hsl(34deg 100% 53%) 78%,
  hsl(45deg 100% 50%) 89%,
  hsl(55deg 100% 50%) 100%
);
}


h1{
    text-align: center;
    margin: 0;
    padding: 30px 0px;
    font-size: 70px;
    
}

form{
    text-align: center;
    padding: 30px;
    width: 40%;
    margin: 0 auto;
  border-radius: 15px;
    text-align: center;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.574);
}

label{
    display: block;
    padding: 15px 0px;

margin: 0 auto;
}

input{
    display: block;
    margin: 0 auto;
    padding: 20px 100px;
    background-color: transparent;
    border: 1px solid #ffff;
    border-radius: 25px;
    outline: none;
    color: #fff;
    font-size: 20px;

}

#submit{
    margin-top: 25px;
    background-color: rgb(7, 77, 255);
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    transition: ease-in-out 0.8s;
}

#submit:hover{
    background-color: blue;
    transition: ease-in-out 0.8s;
}